body {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    /*
     * Background image taken from subtlepatterns.com
     * http://subtlepatterns.com/seigaiha/
     */
    background: url('../media/background.png');
}
#content {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    box-shadow: 0 0 30px 5px #999;
    background-color: #fff;
}

#sectionLeft {
    width: 35%;
    height: 1200px;
    background-color: #395f98;
    color: #e6e6e6;
    display: inline-block;
    position: relative;
}
#sectionRight {
    display: inline-block;
    padding-top: 100px;
    padding-left: 1%;
    padding-right: 2%;
    width: 61.5%;
    height: 1100px;
    color: #000;
    vertical-align: top;
    position: relative;
}

/*
 * ------------
 * Left section
 * ------------
 */

/*
 * Profile, name and contact
 */
.profileImage{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 50px 25%;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 30px 5px rgba(255,255,255,1);
    box-shadow: 0px 0px 30px 5px rgba(255,255,255,1);
}
#nameUpper, #nameLower {
    font-size: 55px;
}
#nameUpper {
    margin-left: 20%;
    margin-top: -25px;
}
#nameLower {
    margin-left: 30%;
    margin-top: -15px;
}

.subImageInformation {
    font-weight: normal;
    margin-left: 28%;
    margin-top: -5px;
    margin-bottom: 5px;
}
.subImageInformation a {
    text-decoration: none;
    color: #e6e6e6;
}
.subImageInformation a:hover {
    color: #b8d1f5;
}

/*
 * Skills
 */

.leftSectionTitle{
    text-align: center;

}
.leftSectionTitle:after, .leftSectionTitle:before{
    content: "";
    display: inline-block;
    height: 3px;
    width: 20px;
    margin: 7px 10px;
    background-color: #fff;
}

.skillTitle{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
}

/*
 * Skill progress bar
 */
.skillLongTitle {
    margin-left: 50px;
    height: 30px;
    position: relative;
    margin-bottom: 10px;
    max-width: 50px;
}
.skillProgressBar {
    margin-left: 50px;
    height: 30px;
    position: relative;
    margin-bottom: 10px;
}
.skillName {
    margin-top: 5px;
    position: absolute;
    width: 20%;
    display: inline-block;
}
.skillBarWrapper {
    margin-left: 20%;
    max-width: 65%;
    height: 100%;
    background-color: #fff;
    display: inline-block;
    -moz-transform:skew(-20deg);
    -webkit-transform:skew(-20deg);
    -o-transform:skew(-20deg);
    transform:skew(-20deg);
}
.skillBlock {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 4px;
    margin-left: 2px;
    width: 15px;
    height: 80%;
}
.skillBlock.active {
    background-color: #60db7a;
}
.skillBlock.inactive {
    background-color: #dfdfdf;
}
.skillBlock:first-child{
    margin-left: 4px;
}
.skillBlock:last-child {
    margin-right: 4px;
}

.skillValue {
    position: absolute;
    margin-left: 5%;
    margin-top: 5px;
    width: 10%;
    font-size: 18px;
    display: inline-block;
}

/*
 * Technologies
 */

.skillRow {
    display: block;
    font-weight: normal;
    text-align: center;
    margin-top: -5px;
}
.skillRow:last-of-type{
    margin-bottom: 25px;
}
.firstRow {
    font-size: 48px;
}
.secondRow {
    font-size: 36px;
}
.thirdRow {
    font-size: 30px;
}
.forthRow {
    font-size: 26px;
}
.fifthRow {
    font-size: 20px;
}

/*
 * ------------
 * Right section
 * ------------
 */

.sectionRightTitle{
    margin: 10px 0 ;
}
h1 {
    padding-top: 10px;
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
}
 h1:after {
    position: absolute;
    top: 40%;
    margin-left: 15px;
    margin-right: 100px;
    overflow: hidden;
    width: 65%;
    height: 2px;
    content: '\a0';
    background-color: #000;
}
h1:before {
    float: right;
    width: 75px;
    transform: scale(.5);
}
#experience:before {
    margin-top: -25px;
    content: url('../media/valise.png');
}
#extra:before {
    margin-top: -10px;
    content: url('../media/newspaper.png');
}

.sectionRightSubtitle{
    margin-left: 15px;
    text-decoration: underline;
}
.sectionRightTitle + div{
    margin-top: -40px;
}
.remote {
    font-size: 20px;
    font-style: italic;
    margin: -5px 0 5px 15px;
}
.role {
    margin:0;
    margin-left: 15px;
    font-size: 20px;
}
.description {
    font-size: 18px;
}
.description, .tasks, .tasklist {
    margin:0;
    margin-left: 25px;
    font-weight: normal;
}

ul {
    list-style-type: none;
}
li:before {
    content: "-";
    font-weight: 900;
    margin-left: -20px;
    margin-right: 10px;
}

.source {
    position: absolute;
    bottom:0;
    margin-bottom: 10px;
    right: 0;
    margin-right: 25px;
}
